<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <form th:action="@{/sign-in}" method="post" th:object="${signInForm}">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" th:field="*{login}" class="form-control" id="login" placeholder="Login">
                    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Hasło">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                </div>
                <div class="form-group">
                    <label for="repeatedPassword">Powtórz hasło</label>
                    <input type="password" th:field="*{repeatedPassword}" class="form-control" id="repeatedPassword" placeholder="Powtórz hasło">
                    <div th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}">Repeating Password Error</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>